body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
}

.medias {
  max-width: 1250px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  height: 60px;
  width: 1250px;
  margin: 40px auto 75px auto;
}
.header--medias {
  margin: 40px auto 33px 0px;
}
.header__logo {
  width: 215px;
  margin-right: -6px;
}
.header__title {
  font-size: 2.25rem;
  padding-bottom: 7px;
  font-weight: normal;
  white-space: nowrap;
}

.skip {
  position: absolute;
  top: 10px;
  left: 45.4%;
}
.skip__btn {
  border: none;
  text-decoration: none;
  color: black;
  border-radius: 6px;
  padding: 4px 11px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #DB8878;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #901C1C;
  margin-left: -10px;
}
.filters__tags {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.filters__tags__name {
  border: 1px solid #e9e4e4;
  border-radius: 20px;
  padding: 3px 5px;
  margin: 0px -1px;
  font-size: 0.75rem;
  font-weight: 600;
}
.filters__tags__name--medias {
  font-size: 1.1rem;
  padding: 1px 8px;
}
.filters__tags__name:hover {
  border: 1px solid #DB8878;
}
.filters__tags:checked + label {
  border: 1px solid #DB8878;
  background-color: #901c1c;
  color: white;
}
.filters__tags:checked + label:hover {
  background-color: #701717;
}

.cursorPointer:hover {
  cursor: pointer;
}

#banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: -2px;
  left: 66vw;
  width: 280px;
  height: 70px;
  padding: 0 30px;
  margin: 0;
  border-radius: 7px 7px 0 0;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: #DB8878;
}
#banner p {
  margin: 0;
}

#profiles {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-row-gap: 50px;
  width: 1500px;
  margin: auto;
  margin-bottom: 150px;
}

.photographer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photographer--medias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile--medias {
  height: 85px;
}
.profile__picture {
  line-height: 0;
}
.profile__picture > img {
  border-radius: 50%;
  height: 202px;
  margin: auto;
}
.profile__picture--medias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__picture--medias > img {
  height: 220px;
}
.profile__name {
  margin: 20px auto 0px auto;
  color: #CC5841;
  font-weight: normal;
  font-size: 2.3rem;
  white-space: nowrap;
}
.profile__name--medias {
  font-size: 4rem;
  margin: 7px 0 0px -2px;
}
.profile__location {
  margin: auto;
  color: #901C1C;
  font-size: 0.8em;
}
.profile__location--medias {
  font-size: 1.6rem;
  margin-top: -5px;
}
.profile__biography {
  margin: 3px auto;
  font-size: 0.65em;
}
.profile__biography--medias {
  margin-top: 19px;
  font-size: 1.1em;
}
.profile__tariff {
  margin: 0px auto 5px auto;
  color: grey;
  font-size: 0.59em;
}

#description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin: auto;
  padding: 55px;
}

#gallery {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-gap: 20px 100px;
  width: 100%;
  margin: 50px auto 85px;
}

.medias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.medias__picture {
  aspect-ratio: 1.18;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.medias__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 60px;
  font-size: 1.5rem;
  margin: auto;
  color: #901C1C;
}
.medias__header > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}

.contact {
  position: relative;
  top: -15px;
  left: 70px;
  height: 70px;
  width: 160px;
  font-size: 1.2rem;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #992a2a;
  color: white;
}
.contact:hover {
  cursor: pointer;
  background-color: #db8876;
  color: black;
}

#background {
  pointer-events: none;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition: background-color 1s;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  width: 100vw;
  height: 0;
  transition: all 0.8s;
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #db8876;
  width: 600px;
  padding: 20px 30px;
}
.form__container i {
  visibility: visible;
}
.form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 4em;
  height: 70px;
}
.form__header i {
  color: white;
  -webkit-text-stroke: 5.5px #db8876;
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
.form form label {
  margin: 10px 0 3px 0;
  font-size: 2em;
}
.form form input {
  border: none;
  height: 60px;
  border-radius: 5px;
  font-size: 1.5em;
  padding-left: 10px;
}
.form__message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__message textarea {
  border: none;
  border-radius: 5px;
  font-size: 1.7em;
  padding: 10px;
  height: 150px;
  resize: none;
}
.form button {
  margin: 20px 0 10px 0;
  width: 165px;
  height: 60px;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #901C1C;
}

#success {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
#success h1 {
  margin: 0;
  font-size: 2.5em;
}
#success i {
  font-size: 2.5em;
  padding-top: 30px;
}

#fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: white;
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: #901c1c;
}
#fullscreen .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#fullscreen .controls #close {
  position: absolute;
  right: -95px;
  margin-top: 15px;
  font-size: 2.2em;
  -webkit-text-stroke: 5.5px white;
}
#fullscreen #image {
  background-color: #fff;
  position: relative;
  height: 100%;
  margin-top: 20px;
}
#fullscreen #image img {
  height: 80vh;
  cursor: auto;
}
#fullscreen #image video {
  height: 80vh;
}
#fullscreen p {
  margin: 10px 0;
}
#fullscreen i {
  margin: 0 30px 70px 30px;
  font-size: 2em;
}

#sort {
  display: flex;
  margin-top: 10px;
  height: 60px;
}
#sort button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 70px;
  width: 185px;
  margin-left: 20px;
  padding: 0 22px;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  background-color: #901c1c;
  color: white;
}
#sort button > h3 {
  pointer-events: none;
}
#sort button > i {
  color: white;
  pointer-events: none;
}
#sort button:hover {
  cursor: pointer;
}

#selection {
  border-radius: 7px;
}

#options {
  position: absolute;
  z-index: 1;
  display: none;
}

#choice1 {
  border-radius: 7px 7px 0 0;
}

#choice2::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 15px;
  width: 157px;
  height: 95%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#choice3 {
  border-radius: 0 0 7px 7px;
}/*# sourceMappingURL=style.css.map */