@import "utils/variables";
@import "utils/mixins";

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
}

.medias {
  max-width: 1250px;
}

.header {
  @include flexRowBetweenCenter;
  color: $rust;
  height: 60px;
  width: 1250px;
  margin: 40px auto 75px auto;
  &--medias {
    margin: 40px auto 33px 0px;
  }
  &__logo {
    width: 215px;
    margin-right: -6px;
  }
  &__title {
    font-size: 2.25rem;
    padding-bottom: 7px;
    font-weight: normal;
    white-space: nowrap;
  }
}

.skip {
  position: absolute;
  top: 10px;
  left: 45.4%;
  &__btn {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    padding: 4px 11px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: $light-rust;
  }
}

.filters {
  @include flexCenter;
  color: $rust;
  margin-left: -10px;
  &__tags {
    appearance: none;
    &__name {
      border: 1px solid rgb(233, 228, 228);
      border-radius: 20px;
      padding: 3px 5px;
      margin: 0px -1px;
      font-size: 0.75rem;
      font-weight: 600;
      &--medias {
        font-size: 1.1rem;
        padding: 1px 8px;
      }
      &:hover {
        border: 1px solid $light-rust;
      }
    }
    &:checked {
      + label {
        border: 1px solid $light-rust;
        background-color: #901c1c;
        color: white;
        &:hover {
          background-color: #701717;
        }
      }
    }
  }
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

#banner {
  @include flexRowBetweenCenter;
  position: fixed;
  bottom: -2px;
  left: 66vw;
  width: 280px;
  height: 70px;
  padding: 0 30px;
  margin: 0;
  border-radius: 7px 7px 0 0;
  font-size: 1.5rem;
  font-weight: bolder;
  background-color: $light-rust;
  p {
    margin: 0;
  }
}

#profiles {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-row-gap: 50px;
  width: 1500px;
  margin: auto;
  margin-bottom: 150px;
}

.photographer {
  @include flexColumnBetween;
  &--medias {
    @include flexColumnBetweenStart;
  }
}

.profile {
  @include flexColumnCenter;
  &--medias {
    height: 85px;
  }
  &__picture {
    line-height: 0;
    > img {
      border-radius: 50%;
      height: 202px;
      margin: auto;
    }
    &--medias {
      @include flexColumnCenter;
      > img {
        height: 220px;
      }
    }
  }
  &__name {
    margin: 20px auto 0px auto;
    color: $orange-rust;
    font-weight: normal;
    font-size: 2.3rem;
    white-space: nowrap;
    &--medias {
      font-size: 4rem;
      margin: 7px 0 0px -2px;
    }
  }
  &__location {
    margin: auto;
    color: $rust;
    font-size: 0.8em;
    &--medias {
      font-size: 1.6rem;
      margin-top: -5px;
    }
  }
  &__biography {
    margin: 3px auto;
    font-size: 0.65em;
    &--medias {
      margin-top: 19px;
      font-size: 1.1em;
    }
  }
  &__tariff {
    margin: 0px auto 5px auto;
    color: grey;
    font-size: 0.59em;
  }
}

#description {
  @include flexRowBetween;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin: auto;
  padding: 55px;
}

#gallery {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 20px 90px;
  width: 100%;
  margin: 50px auto 85px;
}

.medias {
  @include flexColumnBetweenStart;
  &__picture {
    aspect-ratio: 1.18;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  &__header {
    @include flexRowBetweenCenter;
    width: 99%;
    height: 60px;
    font-size: 1.5rem;
    margin: auto;
    color: $rust;
    &__likes {
      padding-right: 2px;
    }
    > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 280px;
      // margin: auto;
    }
  }
}

.contact {
  position: relative;
  top: -15px;
  left: 70px;
  height: 70px;
  width: 160px;
  font-size: 1.2rem;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #992a2a;
  color: white;
  &:hover {
    cursor: pointer;
    background-color: #db8876;
    color: black;
  }
}

#background {
  pointer-events: none;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition: background-color 1s;
}

#form {
  @include flexCenter;
  opacity: 0;
  position: fixed;
  z-index: 3;
  left: 0;
  width: 100vw;
  height: 0;
  transition: all 0.8s;
  pointer-events: none;
}
.form {
  @include flexColumnBetween;
  border-radius: 5px;
  background-color: #db8876;
  width: 600px;
  padding: 20px 30px;
  &__container {
    i {
      visibility: visible;
    }
  }
  &__header {
    @include flexRowBetweenCenter;
    font-size: 4em;
    height: 70px;
    i {
      color: white;
      -webkit-text-stroke: 5.5px #db8876;
    }
  }
  form {
    @include flexColumnBetween;
    margin-top: 10px;
    label {
      margin: 10px 0 3px 0;
      font-size: 2em;
    }
    input {
      border: none;
      height: 60px;
      border-radius: 5px;
      font-size: 1.5em;
      padding-left: 10px;
    }
  }
  &__message {
    @include flexColumnBetween;
    textarea {
      border: none;
      border-radius: 5px;
      font-size: 1.7em;
      padding: 10px;
      height: 150px;
      resize: none;
    }
  }
  button {
    margin: 20px 0 10px 0;
    width: 165px;
    height: 60px;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: $rust;
  }
}

#success {
  @include flexColumnCenter;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  i {
    font-size: 2.5em;
    padding-top: 30px;
  }
}

#fullscreen {
  @include flexCenter;
  display: none;
  background-color: white;
  position: fixed;
  z-index: 2;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: #901c1c;
  .controls {
    @include flexRowBetween;
    position: relative;
    #close {
      position: absolute;
      right: -95px;
      margin-top: 15px;
      font-size: 2.2em;
      -webkit-text-stroke: 5.5px white;
    }
  }
  #image {
    background-color: #fff;
    position: relative;
    height: 100%;
    margin-top: 20px;
    img {
      height: 80vh;
      cursor: auto;
    }
    video {
      height: 80vh;
    }
  }
  p {
    margin: 10px 0;
  }
  i {
    margin: 0 30px 70px 30px;
    font-size: 2em;
  }
}

#sort {
  display: flex;
  margin-top: 10px;
  height: 60px;
  button {
    @include flexRowBetweenCenter;
    position: relative;
    height: 70px;
    width: 185px;
    margin-left: 20px;
    padding: 0 22px;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    background-color: #901c1c;
    color: white;
    > h3 {
      pointer-events: none;
    }
    > i {
      color: white;
      pointer-events: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

#selection {
  border-radius: 7px;
}
#options {
  position: absolute;
  z-index: 1;
  display: none;
}
#choice1 {
  border-radius: 7px 7px 0 0;
}
#choice2 {
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 15px;
    width: 157px;
    height: 95%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
#choice3 {
  border-radius: 0 0 7px 7px;
}
