@import "utils/variables";
@import "utils/mixins";

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
}

.header {
  @include flexRowBetween;
  color: $rust;
  height: 60px;
  width: 1230px;
  margin: 0 auto 75px auto;
  &__logo {
    width: 215px;
    margin-right: -6px;
  }
  &__title {
    font-size: 2.25rem;
    font-weight: normal;
    white-space: nowrap;
  }
}

.skip {
  @include flexCenter;
  margin-top: 5px;
  &__btn {
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 6px;
    padding: 4px 11px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: $light-rust;
  }
}

.filters {
  @include flexCenter;
  color: $rust;
  // padding: 0;
  // margin: 0;
  &__tags {
    appearance: none;
    + label {
      border: 1px solid rgb(233, 228, 228);
      border-radius: 20px;
      padding: 2px 5px;
      // margin: 0px 3px;
      font-size: 0.75rem;
      font-weight: 600;
      &:hover {
        border: 1px solid $light-rust;
      }
    }
    &:checked {
      + label {
        border: 1px solid $light-rust;
        background-color: rgb(250, 231, 215);
        &:hover {
          background-color: rgba(244, 165, 96, 0.931);
          color: white;
        }
      }
    }
  }
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

.main {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-row-gap: 50px;
  max-width: 1500px;
  margin: auto;
}

.photographer {
  @include flexColumnBetween;
  .profile {
    @include flexColumnCenter;
    &__picture {
      line-height: 0;
      > img {
        border-radius: 50%;
        height: 202px;
        margin: auto;
      }
    }
    &__name {
      margin: 20px auto 0px auto;
      color: $orange-rust;
      font-weight: normal;
      font-size: 2.3rem;
      white-space: nowrap;
    }
    &__location {
      margin: auto;
      color: $rust;
      font-size: 0.8em;
    }
    &__biography {
      margin: 3px auto;
      font-size: 0.65em;
    }
    &__tariff {
      margin: 0px auto 5px auto;
      color: grey;
      font-size: 0.59em;
    }
  }
}
