// FLEXBOX
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexStartCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}